!urxvt
URxvt*foreground: #CFB7B1
URxvt*background: #0A0405
URxvt*cursorColor: #CFB7B1
URxvt.scrollBar: false 
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.font: xft:GohuFont-Medium:size=14
!colors
*background:  #0A0405
*.color0: #0A0405
*foreground: #A25F5F
*.color1: #4C2C2C
*color2: #51453A
*.color2: #51453A
*color3: #472D50
*.color3: #472D50
*color4: #61534E
*.color4: #61534E
*color5: #A24549
*.color5: #A24549
*color6: #916093
*.color6: #916093
*color7: #CFB7B1
*.color7: #CFB7B1
*color8: #666666
*.color8: #666666
*color9: #4C2C2C
*.color9: #4C2C2C
*color10: #51453A
*.color10: #51453A
*color11: #472D50
*.color11: #472D50
*color12: #61534E
*.color12: #61534E
*color13: #A24549
*.color13: #A24549
*color14: #916093
*.color14: #916093
*color15: #CFB7B1
*.color15: #CFB7B1
*color66: #0A0405

!rofi

!                  bg       border   separator      
rofi.color-window: #0A0405, #0A0405, #51453A

!                  bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #0A0405, #CFB7B1, #0A0405, #51453A, #0A0405
rofi.color-active: #0A0405, #CFB7B1, #0A0405, #51453A, #0A0405
rofi.color-urgent: #0A0405, #4C2C2C, #0A0405, #4C2C2C, #CFB7B1

rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.font: GohuFont-Meduim 14
rofi.lines: 5
rofi.width: 30
rofi.location: 0
