!urxvt
URxvt*foreground: #34F5E6
URxvt*background: #0D0F12
URxvt*cursorColor: #34F5E6
URxvt.scrollBar: false 
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.font: xft:GohuFont-Medium:size=14
!colors
*background: #0D0F12
*.color0: #0D0F12
*foreground: #4B4F53
*.color1: #4B4F53
*color2: #B82C5C
*.color2: #B82C5C
*color3: #49B963
*.color3: #49B963
*color4: #2C5D9C
*.color4: #2C5D9C
*color5: #D24098
*.color5: #D24098
*color6: #2CC3B0
*.color6: #2CC3B0
*color7: #34F5E6
*.color7: #34F5E6
*color8: #666666
*.color8: #666666
*color9: #4B4F53
*.color9: #4B4F53
*color10: #B82C5C
*.color10: #B82C5C
*color11: #49B963
*.color11: #49B963
*color12: #2C5D9C
*.color12: #2C5D9C
*color13: #D24098
*.color13: #D24098
*color14: #2CC3B0
*.color14: #2CC3B0
*color15: #34F5E6
*.color15: #34F5E6
*color66: #0D0F12

!rofi
rofi.color-window: argb:FF0D0F12, #0D0F12, #B82C5C
rofi.color-normal: argb:FF0D0F12, #34F5E6, #0D0F12, #B82C5C, #0D0F12
rofi.color-active: argb:FF0D0F12, #34F5E6, #0D0F12, #B82C5C, #0D0F12
rofi.color-urgent: argb:FF0D0F12, #4B4F53, #0D0F12, #4B4F53, #34F5E6
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.bw: 0
